<h1>Welcome to Sorter!</h1>
<p>The perfect place to organize all your web resources on anything coding. And see what others are learning.</p>

<% if user_signed_in? %>
<h3>Here's what people have been reading:</h3>
  <ul id="resources">
    <% @resources.each do |resource| %>
      <li><%= link_to resource.title, resource_path(resource) %> - <%= link_to "Link", resource.url %>
        <ul>
          <% resource.languages.each do |language| %>
            <li><%= link_to language.name, language_path(language) %></li>
          <% end %>
        </ul>
        <ul>
          <% resource.tags.each do |tag| %>
            <li><%= link_to "##{tag.name}", tag_path(tag) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path if !user_signed_in?%>
