<h1><%= @resource.title %></h1>
<% if @resource.user %>
  <p>Added by <%= @resource.user_name %>.</p>
<% end %>

<ul>
  <% @resource.languages.each do |language| %>
    <li><%= link_to language.name, language_path(language) %></li>
  <% end %>
</ul>

<% if @resource.tags.first %>
  <h3>Tags:</h3>
  <ul>
    <% @resource.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
<% end %>

<p>URL: <%= link_to @resource.url, @resource.url %></p>

<h3>What it's about:</h3>
<p><%= @resource.description %></p>

<div class="resource-links">
  <% if correct_user?(@resource) %>
    <%= link_to "Edit this Resource", edit_resource_path(@resource) %>
    <%= button_to "Delete this Resource", resource_path(@resource), method: 'delete' %>
  <% end %>
</div>

<div class="resource-comments">
  <h3>Comments:</h3>
  <ul class="comments-list">
    <% @resource.comments.each do |comment| %>
      <li><%= comment.content %>
        <% if correct_user?(comment) %>
         - <%= link_to "Edit", edit_comment_path(comment)%> <%= button_to "X", comment_path(comment), method: 'delete'%>
         <% end %>
      </li>
    <% end %>
  </ul>

  <%= render template: "comments/new" %>
</div>

<script id="comment-template" type="text/x-handlerbars-template">
  <li>{{content}}
     - <a href="/comments/{{id}}/edit">Edit</a>
     <form class="button_to" method="post" action="/comments/{{id}}">
     <input type="hidden" name="_method" value="delete">
     <input type="submit" value="X">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
     </form>
  </li>
</script>
