<div class="row">
  <div class="col-md-3">
    <div class="resource-links">
      <% if correct_user?(@resource) %>
      <div class="btn-group-lg btn-group-vertical">
        <%= link_to "Edit this Resource", edit_resource_path(@resource), class: "btn btn-default btn-space" %>
        <%= link_to "Delete this Resource", resource_path(@resource), method: "delete", class: "btn btn-default btn-space", id: "edit-button"  %>
      </div>

      <% end %>
      <h3>Languages:</h3>
      <%= @resource.languages.collect {|l| link_to l.name, language_path(l), class: "lang lang-links"}.join(", ").html_safe %>
      <hr>
    </div>
  </div>
  <div class="col-md-9">
    <h1><%= @resource.title %> <%= link_to "", @resource.url, class: "glyphicon glyphicon-link" %></h1>
    <%= @resource.tags.collect {|t| link_to t.name, tag_path(t), class: "tag tag-links"}.join(" / ").html_safe if @resource.tags.first%>
    <% if @resource.user %>
      <p>Added by <%= @resource.user_name %>.</p>
    <% end %>
    <h3>What it's about:</h3>
    <p><%= @resource.description %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="resource-comments">
      <h3>Comments:</h3>
      <ul class="comments-list list-unstyled">
        <% @resource.comments.each do |comment| %>
          <% if comment.content.present? %>
            <li id="comment-<%= comment.id %>"><%= link_to "@#{comment.user.username}", user_resources_path(comment.user), class: "user user-link" %>: <%= comment.content %>
              <% if correct_user?(comment) %>
                <%= link_to ('<span class="glyphicon glyphicon-edit"></span>').html_safe, edit_comment_path(comment)%>
                <%= button_to comment_path(comment), method: "delete", class: "destroy btn btn-link", form_class: "delete-form" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <%= render template: "comments/new" %>
  </div>
</div>
