<h1><%= @resource.title %></h1>
<% if @resource.user %>
  <p>Added by <%= @resource.user_name %>.</p>
<% end %>

<p><%= link_to @resource.language_name, language_path(@resource.language) %></p>

<% if @resource.tags.first %>
  <h3>Tags:</h3>
  <ul>
    <% @resource.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
<% end %>

<p>URL: <%= link_to @resource.url, @resource.url %></p>

<h3>What it's about:</h3>
<p><%= @resource.description %></p>


<%= link_to "Edit this Resource", edit_resource_path(@resource) if correct_user? %>
<%= button_to "Delete this Resource", resource_path(@resource), method: 'delete' if correct_user?%>

<%= render template: "comments/new" %>
