<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Sorter</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Add Resource", new_user_resource_path(current_user) %></li>
          <li><%= link_to "Languages", languages_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <p class="navbar-text navbar-right" id="logged-in-header">Signed in as <%= link_to current_user.username, user_path(current_user), class: "navbar-link" %></p>
      <% end %>
    </div>
  </div>
</nav>
